body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  background: radial-gradient(black 15%, transparent 16%) 0 0,
              radial-gradient(black 15%, transparent 16%) 8px 8px,
              radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
              radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

/* Nav */
nav {
  font-weight: 600
}

a.dtc.v-mid.white.link.dim.w-25,
a.dtc.v-mid.white.link.dim.w-25.active,
a.link.dim.white.f6.f5-ns.dib.mr3.mr4-ns,
a.link.dim.white.f6.f5-ns.dib.mr3.mr4-ns.active,
a.link.dim.white.f6.f5-ns.dib.mr3.mr4-ns,
a.link.dim.white.f6.f5-ns.dib.mr3.mr4-ns.active {
  outline: none;
}

/* Home */
h1 {
  font-weight: 700;
  text-transform: uppercase;
  /* font-size: 6rem; */
  font-size: 2rem;
  line-height: 5.5rem;
}
@media (min-width: 992px) {
  h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}


/* 

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #d0021b;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.row {
	display: flex;
	justify-content: space-around;
}

.column {
	display: flex;
	flex-direction: column;
	width: 500px;
	align-items: center;
}

.column input {
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.43);
  font-size: 16px;
  width: 80%;
}

.column label {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

.header {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

.languages {
	display: flex;
	justify-content: center;
}

.languages li {
	margin: 10px;
	font-weight: bold;
	cursor: pointer;
}

.popular-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}

.popular-item {
	margin: 20px;
	text-align: center;
}

.space-list-items {
	margin-bottom: 7px;
}

.avatar {
	width: 150px;
	border-radius: 50%;
}

.popular-rank {
	font-size: 20px;
	margin: 10px;
}

.nav {
	display: flex;
}

.active {
	font-weight: bold;
}

.nav li {
	margin-right: 15px;
}

.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button {
  color: #e6e6e6;
  background: #0a0a0a;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}

.button:hover:enabled {
  background: linear-gradient(#1a1a1a,#0a0a0a);
  color: #fff;
  text-decoration: none;
}

.button:active {
  transform: translateY(1px);
}

.reset {
  border: none;
  background: transparent;
  color: #d0021b;
  display: block;
  width: 100%;
  text-align: center;
}

.reset:hover {
  cursor: pointer;
} 

*/