body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  background: radial-gradient(black 15%, transparent 16%) 0 0,
              radial-gradient(black 15%, transparent 16%) 8px 8px,
              radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
              radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

ul { padding: 0; }

li { list-style-type: none; }

a {
	text-decoration: none;
	color: #282828;
}

/* .space-list-items { margin-bottom: 7px; }

.avatar {
	width: 150px;
	border-radius: 50%;
} */

/* Nav */
nav {
  font-weight: 600
}

.active {
  color: #2FD565 !important;
  transition: color .15s ease-in;
}
.active:hover {
  transition: color .15s ease-in;
}

.active-effect {
  opacity: 1;
  transition: opacity .15s ease-in;
}
.active-effect:hover {
  opacity: .8;
  transition: opacity .15s ease-in;
}

a.dtc.v-mid.white.link.dim.w-25,
a.dtc.v-mid.white.link.dim.w-25.active,
a.link.dim.white.f6.f5-ns.dib.mr3.mr4-ns,
a.link.dim.white.f6.f5-ns.dib.mr3.mr4-ns.active,
a.link.dim.white.f6.f5-ns.dib.mr3.mr4-ns,
a.link.dim.white.f6.f5-ns.dib.mr3.mr4-ns.active {
  outline: none;
}

/* Home */
h1 {
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 5.5rem;
}
@media (min-width: 992px) {
  h1 { font-size: 3rem; }
}
@media (min-width: 1200px) {
  h1 { font-size: 4rem; }
}

.title {
  color: #2FD565;
}

/* Battle */
.measure { margin: 0 auto; }
@media (min-width: 992px) {
  .row {
    display: flex;
    justify-content: space-around;
  }
}

.measure input:focus { outline-color: #2FD565; }

.username { color: #2FD565; }

.reset:focus { outline:none; }

.battle {
  display: block;
  font-weight: bold;
  background: radial-gradient(#2FD565,#0a0a0a);
}
.battle:hover:enabled { color: #fff; }

/* Results */
.score,
a.info-blog {
  color: #2FD565;
}

/* Loading */
.loading {
  color: #2FD565;
  font-weight: bold;
}

/* .column {
	display: flex;
	flex-direction: column;
	width: 500px;
	align-items: center;
} */

/* .column label {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
} */

/* .column input {
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.43);
  font-size: 16px;
  width: 80%;
} */

/* .reset {
  border: none;
  background: transparent;
  color: #d0021b;
  display: block;
  width: 100%;
  text-align: center;
}

.reset:hover {
  cursor: pointer;
}  */

/* Popular */
.languages {
  display: flex;
  justify-content: center;
  max-width: 60%;
	margin: 0 auto;
}
@media (max-width: 425px) {
  .languages { flex-direction: column; }
}

.languages li {
	margin: 10px;
	font-weight: bold;
  cursor: pointer;
  color: #fff;
  transition: color .3s;
}
.languages li:hover { color: #2FD565; }

.popular-list {
	display: flex;
	flex-wrap: wrap;
  justify-content: space-around;
  
}

.popular-item {
	margin: 20px;
	text-align: center;
}

.popular-rank {
	font-size: 20px;
  margin: 10px;
}

.popular-rank,
.popular-link {
  font-weight: bold;
  color: #2FD565;
}

.popular-img {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 
              0 3px 1px -2px rgba(0, 0, 0, .2), 
              0 1px 5px 0 rgba(0, 0, 0, .12);
}

.no-match {
  color: #2FD565;
}